$vt-toast-min-height: unset;
$vt-toast-max-height: unset;
$vt-toast-max-width: 400px;
$vt-color-default: #fff;
$vt-color-info: white;
$vt-color-success: white;
$vt-text-color-success: #000;
$vt-color-warning: white;
$vt-color-error: white;
$vt-text-color-default: #a855f7;
$vt-text-color-info: #06b6d4;
$vt-text-color-success: #22c55e;
$vt-text-color-warning: #ef4444;
$vt-text-color-error: #ef4444;
$vt-font-family: inherit;
@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";
