.testimonials-1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  padding: 3rem; }

.testimonials-1 h1,
.testimonials-1 h2,
.testimonials-1 h3,
.testimonials-1 h4,
.testimonials-1 h5,
.testimonials-1 h6 {
  color: #3e4555; }

.testimonials-1 h5 {
  line-height: 22px;
  font-size: 18px; }

.testimonials-1 .font-13 {
  font-size: 13px; }

.testimonials-1 .subtitle {
  color: #8d97ad;
  line-height: 24px; }

.testimonials-1 .testimonial {
  margin-bottom: 80px; }

.testimonials-1 .testimonial .bg {
  background-size: cover;
  padding: 150px 0; }

.testimonials-1 .testimonial .play-icon {
  font-size: 34px;
  color: #ffffff; }

.testimonials-1 .testimonial .owl-dots {
  display: inline-block;
  position: relative;
  top: -45px; }

.testimonials-1 .testimonial .owl-dots .owl-dot {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
  opacity: 0.4;
  cursor: pointer; }

.testimonials-1 .testimonial .owl-dots .owl-dot span {
  display: none; }

.testimonials-1 .testimonial .owl-dots .owl-dot.active,
.testimonials-1 .testimonial .owl-dots .owl-dot:hover {
  opacity: 1; }
