.navigation-3 {
  font-family: var(--bs-font-body); }
  .navigation-3.sticy {
    background: rgba(255, 255, 255, 0.1); }
  .navigation-3::before {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    backdrop-filter: blur(14px); }
  .navigation-3 h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem; }
  .navigation-3 .navbar {
    padding: 0 1rem; }
    .navigation-3 .navbar .navbar-nav a.nav-link {
      font-size: 14px;
      font-weight: 500;
      padding: 2.1rem 1rem 2.1rem;
      text-transform: none; }
      .navigation-3 .navbar .navbar-nav a.nav-link:hover {
        background-color: rgba(0, 0, 0, 0.015);
        color: var(--blue); }
    .navigation-3 .navbar .navbar-nav nav.navbar-expand-md a.nav-link {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.7); }
