.navigation-1 {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  position: sticky;
  backdrop-filter: saturate(180%) blur(20px); }
  .navigation-1:after {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.025) 20%, rgba(255, 255, 255, 0) 80%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.015) 10%, rgba(255, 255, 255, 0) 80%);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 1.5rem;
    left: 0;
    bottom: -1.5rem; }
  body.home .navigation-1:after {
    display: none; }
  .navigation-1 h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem; }
  .navigation-1 .navbar {
    padding: 0 1rem; }
    .navigation-1 .navbar .navbar-nav a.nav-link {
      font-size: 14px;
      font-weight: 500;
      padding: 2.1rem 1rem 2.1rem;
      text-transform: none; }
      .navigation-1 .navbar .navbar-nav a.nav-link:hover {
        background-color: rgba(0, 0, 0, 0.015);
        color: var(--blue); }
    .navigation-1 .navbar .navbar-nav nav.navbar-expand-md a.nav-link {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.7); }
