.showcase-6 {
  padding: 2rem 0; }
  .showcase-6 .feature {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    border-radius: 7px;
    display: flex; }
    .showcase-6 .feature .text {
      padding: 1rem 1rem 1rem 0; }
  .showcase-6 .font-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px; }
    .showcase-6 .font-container .font-icon {
      color: var(--bs-primary);
      font-size: 5rem;
      padding: 1.4rem;
      border-radius: 60px; }
  .showcase-6 h3 {
    margin-bottom: 1rem;
    color: var(--bs-dark);
    line-height: 1.8rem; }
    .showcase-6 h3 a {
      font-size: 1.4rem;
      color: var(--bs-dark);
      text-decoration: none; }
  .showcase-6 a {
    text-decoration: none;
    color: var(--bs-gray); }
    .showcase-6 a.more {
      font-size: 0.9rem; }
      .showcase-6 a.more i {
        color: var(--bs-primary); }
      .showcase-6 a.more:hover {
        color: var(--bs-primary); }
  .showcase-6 p {
    font-size: 0.9rem;
    color: var(--bs-gray);
    line-height: 1.7rem;
    margin-bottom: 1rem; }
